*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Special Gothic Expanded One';
    src: url(theme_fonts/Special_Gothic_Expanded_One/SpecialGothicExpandedOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url(theme_fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.header{
    display: flex;
}
.footer{
    align-self: center;
    margin: 1.5%;
}
h1{
    margin-left: 35%;
    margin-top: 1%;
}
#toggle{
    margin: 1%;
    border: 0 rgb(169,169,169) none;
    background: none;
}
body {
  transition: background-color ease 0.3s;
}

.about {
  transition: color ease 0.3s 0.1s, font-family ease 0.3s 0.1s;
  font-family: 'Nunito';
}





