*{
    padding: 0;
    margin: 0;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.header{
    display: flex;
}
.footer{
    align-self: center;
    margin: 1.5%;
}
#title{
    margin-left: 35%;
    margin-top: 1%;
}
#toggle{
    margin: 1%;
    border: 0 rgb(169,169,169) none;
    background: none;
}
body {
  transition: background-color ease 0.5s;
}

#title, #about {
  transition: color ease 0.5s 0.3s, font-family ease 0.5s 0.3s;
}





