*{
    padding: 0;
    margin: 0;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.header{
    display: flex;
}
.footer{
    align-self: center;
    margin: 1.5%;
}
#title{
    margin-left: 35%;
    margin-top: 1%;
}
#toggle{
    margin: 1%;
    border: 0 rgb(169,169,169) none;
    background: none;
}



